<!DOCTYPE html>
<html ng-app="backOffice">
    <head lang="en">
        <meta http-equiv="pragma" content="no-cache">
        <meta charset="UTF-8">
        <title>Back Office</title>
        <script type="text/javascript" src="js/jquery-1.9.1.js"></script>
        <script type="text/javascript" src="js/angular.min.js"></script>
        <script type="text/javascript" src="js/ng-controller-product.js"></script>
        <link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
        <link rel="stylesheet" href="css/product.css" type="text/css" />
    </head>
    <body ng-controller="productController">
        <div ng-init="selectedTab='product'" ng-include="'templates/dashboard.html'"></div>
        <div id="controls">
            <label id="labelCategories" for="labelCategories">Choix de la categorie:</label>
            <select id="categories"
                    ng-model="category"
                    ng-options="c.name for c in categoriesArray"></select>

            <div ng-show="category">

                <label id="labelNbProducts" for="labelNbProducts">Nombre de produits à créer:</label>
                <select id="nbProducts"
                        ng-model="nbProducts"
                        ng-options="p.row for p in nbProductsArray" ng-change="createNbProductsSelectedArray()"></select>
                <div ng-show="nbProducts" data-ng-repeat="nbProduct in nbProductsSelectedArray">

                    <label id="labelProduct{{nbProduct}}" for="labelProduct{{nbProduct}}">Description du produit {{nbProduct}}:</label>
                    <input type="text" id="labelProd{{nbProduct}}" ng-model="descriptionProduct" ng-change="updateLabelProduct({{nbProduct}})"/>

                    <label id="refProduct{{nbProduct}}" for="refProduct{{nbProduct}}">Reference du produit {{nbProduct}}:</label>
                    <input type="text" id="refProd{{nbProduct}}" ng-model="refProduct" ng-change="updateRefProduct({{nbProduct}})"/>

                    <label id="compositionProduct{{nbProduct}}" for="compositionProduct{{nbProduct}}">Composition du produit {{nbProduct}}:</label>
                    <input type="text" id="compositionProd{{nbProduct}}" ng-model="compositionProduct" ng-change="updateCompositionProduct({{nbProduct}})"/>

                    <label id="priceProduct{{nbProduct}}" for="priceProduct{{nbProduct}}">Prix du produit {{nbProduct}}:</label>
                    <input type="text" id="priceProd{{nbProduct}}" ng-model="priceProduct" ng-change="updatePriceProduct({{nbProduct}})"/>


                </div>
            </div>

            <button id="saveBtn" ng-click="saveProduct(category)" ng-show="nbProducts" class="button">Créer le produit</button>
            <button id="searchAllBtn" ng-show="category" ng-click="searchAllProducts(category)" class="button">Voir les produits</button>
        </div>
        <div id="products" ng-show="products">
            <table>
                <tr ng-repeat="product in products" class="product" ng-click="displayProductDetails(product)">
                    <td class="text">
                        <span>{{product.description}}</span>
                    </td>
                </tr>
            </table>
        </div>
        <div id="productDetails" ng-show="detailedProduct">
            <ul>
                <li><b>Composition de l'article:</b> {{detailedProduct.composition}}</li>
                <li><b>Description de l'article:</b> {{detailedProduct.description}}</li>
                <li><b>Reference de l'article:</b> {{detailedProduct.reference}}</li>
                <li><b>Prix de l'article:</b> {{detailedProduct.price}}€</li>
            </ul>
        </div>
    </body>
    <head>
        <meta http-equiv="pragma" content="no-cache">
    </head>
</html>