<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <import resource="classpath:spring-context-jpa.xml" />

    <tx:annotation-driven />
 	<context:component-scan base-package="com.carbon.ecommerce.service" />

    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="clientService"
          class="com.carbon.ecommerce.service.ClientService">
        <constructor-arg>
            <ref bean="sessionFactory" />
        </constructor-arg>
    </bean>

    <bean id="itemService"
          class="com.carbon.ecommerce.service.ItemService">
        <constructor-arg>
            <ref bean="sessionFactory" />
        </constructor-arg>
    </bean>

    <bean id="orderService"
          class="com.carbon.ecommerce.service.OrderService">
        <constructor-arg>
            <ref bean="sessionFactory" />
        </constructor-arg>
    </bean>
</beans>
